html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  /* -moz-osx-font-smoothing: grayscale; */
  text-align: center;
  color: #2c3e50;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}
#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a{
  text-decoration: none;
  color:initial;
  cursor:pointer;
}
ul{
  margin:0;
  padding:0;
  list-style: none;
}
button{
  cursor:pointer;
}

/*** MEDIA QUERIES ***/
@media (min-width: 1920px) {
  body {
    max-width:1920px;margin:auto!important;
  }
}